.card {
  width: 290px;
  box-shadow: 2px 8px 21px -2px #777777;
  border-radius: 10px;
  background-color: #f5f5f7;
}

.cardName {
  padding: 0;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0;
}

.cardInfo {
  text-align: center;
}
